html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    padding: 5%;
}

.go-down-btn {
    position: relative;
    z-index: 1;
    display: inline-block;
}

.go-down-btn svg {
    position: relative;
    z-index: -1;
    display: block;
    color: #ffd700;
}

.go-down-btn text {
    font-size: 11px;
    color: #ffd700 !important;
    transform-origin: center;
}

@-webkit-keyframes rotate-btn {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-btn {
    to {
        transform: rotate(360deg);
    }
}

.go-down-btn text {
    -webkit-animation: rotate-btn 10s linear infinite;
    animation: rotate-btn 10s linear infinite;
}

.gold-text {
    fill: #ffd700 !important;
}